<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>607904635831-99j63nlcresro2qmqk1qa1b4brsv0q7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607904635831-99j63nlcresro2qmqk1qa1b4brsv0q7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAKLIqo_v8Gza1GGTGdT9P3idPzlCCB8Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>607904635831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thenerdywiz.www.snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-616d2</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-616d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:607904635831:ios:5cd37f642c40a724</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-616d2.firebaseio.com</string>
</dict>
</plist>